<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/cdd/ionicons.min.css">
    </link>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div id="head">
        <h1 class="center heading">
            YumDelights
        </h1>
        <ul>
            {{!-- <li><a href="">Login</a></li>
            <li><a href="">SignUp</a></li> --}}
        </ul>

        <div class="home">
            <a href="/">Home</a>
        </div>

        <div class="ml-auto navbar-nav"><a href="/cart" data-rb-event-key="/cart" class="nav-link1">
                <ion-icon name="basket"></ion-icon> Cart[<span>0</span>]
            </a>

        </div>

    </div>
    <section class="container">
         <div class="image">
            <img src="/images/vanilla.PNG" alt="" id="">
            <h3>Vanilla Cake</h3>
            <h3>&#8377;699</h3>
            <a class="add-cart cart1" href="#">Add To Cart</a>
        </div>
        <div class="image">
            <img src="/images/blackforest.PNG" alt="" id="">
            <h3>Black Forest Cake</h3>
            <h3>&#8377;749</h3>
            <a class="add-cart cart2" href="#">Add To Cart</a>
        </div>
        <div class="image">
            <img src="/images/strawberry.PNG" alt="" id="">
            <h3>Special Strawberry Cake</h3>
            <h3>&#8377;750</h3>
            <a class="add-cart cart3" href="#">Add To Cart</a>
        </div>
        <div class="image">
            <img src="/images/Chocolate-Muffins.PNG" alt="" id="">
            <h3>Chocolate-Muffin Box(4-pcs)</h3>
            <h3>&#8377;450</h3>
            <a class="add-cart cart4" href="#">Add To Cart</a>
        </div>
        <div class="image">

            <img src="/images/Sprinkle-Cherry-strawberry.PNG" alt="" id="">
            <h3>Sprinkle-Cherry-Strawberry Jar Cake</h3>

            <h3>&#8377;750</h3>
            <a class="add-cart cart5" href="#">Add To Cart</a>
        </div>
        <div class="image">
            <img src="/images/Easy-Little-Pandas.PNG" alt="" id="">
            <h3>Easy-Little-Pandas Cupcake </h3>
            <h3>&#8377;120</h3>
            <a class="add-cart cart6" href="#">Add To Cart</a>
        </div>
        <div class="image">
            <img src="/images/Cheese-Nut.PNG" alt="" id="">
            <h3>Ankle Cheese Nut Cake </h3>
            <h3>&#8377;599</h3>
            <a class="add-cart cart7" href="#">Add To Cart</a>
        </div>
        <div class="image">
            <img src="/images/Chocolate-Bourborn-Caramel.PNG" alt="" id="">
            <h3>Chocolate-Bourborn-Caramel Cupcake</h3>

            <h3>&#8377;499</h3>
            <a class="add-cart cart8" href="#">Add To Cart</a>
        </div>
        <div class="image">
            <img src="/images/fruite.PNG" alt="" id="">
            <h3>Fruit Cake</h3>
            <h3>&#8377;699</h3>
            <a class="add-cart cart9" href="#">Add To Cart</a>
        </div> 

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>        </script>
        {{!-- <script src="https://www.paypal.com/sdk/js?client-id=test"></script> --}}





        <script src="/main.js"></script>


</body>

</html>